.Weather {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.form-list {
  list-style-type: none;
  padding-top: 20px;
  margin: 0 0 20px;
}
